extends layout

block content
  h1  Twitter API 
  h2  Using Node.js and ntwitter package   
  p Please select on of the following
  p 
    a(href="/single") Single User Example
  p
    a(href="/signin_with_twitter") Sign-in with Twitter Example